<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lala - NFT Marketplace Website Template</title>
    <link rel="icon" href="~/landing/images/icon.png" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Lala - NFT Marketplace Website Template" name="description" />
    <meta content="" name="keywords" />
    <meta content="" name="author" />
    <!-- CSS Files
    ================================================== -->
    <link id="bootstrap" href="~/landing/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link id="bootstrap-grid" href="~/landing/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
    <link id="bootstrap-reboot" href="~/landing/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
    <link href="~/landing/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/landing/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="~/landing/css/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="~/landing/css/owl.transitions.css" rel="stylesheet" type="text/css" />
    <link href="~/landing/css/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="~/landing/css/jquery.countdown.css" rel="stylesheet" type="text/css" />
    <link href="~/landing/css/style.css" rel="stylesheet" type="text/css" />
    <!-- color scheme -->
    <link id="colors" href="~/landing/css/colors/scheme-01.css" rel="stylesheet" type="text/css" />
    <link href="~/landing/css/coloring.css" rel="stylesheet" type="text/css" />
</head>

<body>
    @RenderBody()

    <a href="javascript:void(0);" id="back-to-top"></a>

    <!-- footer begin -->
    <footer class="footer-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-1">
                    <div class="widget">
                        <h5>General</h5>
                        <ul>
                            <li><a href="javascript:void(0);">About</a></li>
                            <li><a href="javascript:void(0);">FAQ</a></li>
                            <li><a href="javascript:void(0);">Support</a></li>
                            <li><a href="javascript:void(0);">Build</a></li>
                            <li><a href="javascript:void(0);">Careers</a></li>
                            <li><a href="javascript:void(0);">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-1">
                    <div class="widget">
                        <h5>Technology</h5>
                        <ul>
                            <li><a href="javascript:void(0);">Technology</a></li>
                            <li><a href="javascript:void(0);">Roadmap</a></li>
                            <li><a href="javascript:void(0);">Token</a></li>
                            <li><a href="javascript:void(0);">Telemetry</a></li>
                            <li><a href="javascript:void(0);">Lightpaper</a></li>
                            <li><a href="javascript:void(0);">Whitepaper</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-1">
                    <div class="widget">
                        <h5>Community</h5>
                        <ul>
                            <li><a href="javascript:void(0);">Community</a></li>
                            <li><a href="javascript:void(0);">Documentation</a></li>
                            <li><a href="javascript:void(0);">Brand Assets</a></li>
                            <li><a href="javascript:void(0);">Blog</a></li>
                            <li><a href="javascript:void(0);">Forum</a></li>
                            <li><a href="javascript:void(0);">Mailing List</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-1">
                    <div class="widget">
                        <h5>Newsletter</h5>
                        <p>Signup for our newsletter to get the latest news in your inbox.</p>
                        <form class="row form-dark" id="form_subscribe" name="form_subscribe">
                            <div class="col text-center">
                                <input class="form-control" id="txt_subscribe" name="txt_subscribe" placeholder="enter your email" type="text" /> <a href="javascript:void(0);" id="btn-subscribe"><i class="arrow_right bg-color-secondary"></i></a>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                        <div class="spacer-10"></div>
                        <small>Your email is safe with us. We don't spam.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex">
                            <div class="de-flex-col">
                                <a href="javascript:void(0);">
                                    <img alt="" class="f-logo" href="~/landing/images/logo.png" /><span class="copy">&copy; Copyright 2021 -thetung by Lala</span>
                                </a>
                            </div>
                            <div class="de-flex-col">
                                <div class="social-icons">
                                    <a href="javascript:void(0);"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="javascript:void(0);"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="javascript:void(0);"><i class="fa fa-linkedin fa-lg"></i></a>
                                    <a href="javascript:void(0);"><i class="fa fa-pinterest fa-lg"></i></a>
                                    <a href="javascript:void(0);"><i class="fa fa-rss fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer close -->
</body>

</html>