﻿<!DOCTYPE html>
<html>
<head>
    <!-- #region ============================== TITLE, META, DESCRIPTION ==============================-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SEO_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*<link rel="stylesheet" href="~/lib/hotkeys-js/dist/hotkeys.min.js" />*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="ASC ADMIN">
    <meta name="author" content="Hoan Chu">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!--============================== SEO FACEBOOK ==============================-->
    <meta property="og:url" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Đăng nhập hệ thông AI SEO SYSTEM" />
    <meta property="og:description" content="Vui lòng đăng nhập hệ thống" />
    <meta property="og:image" content="/assets/images/seo-system.jpg" />
    <!-- #endregion -->
    <!-- #region ============================== HEADER CSS, JS ==============================-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/animate-css/animate.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/color_skins.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <script src="~/js/init_ui.js"></script>
    <script src="~/js/hoanchu.js"></script>
    <!-- #endregion -->
    <!-- ============================== CUSTOMIZE CSS ============================== -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="theme-blue">
    <div id="wrapper">
        @RenderBody()
    </div>
    <!-- #region ============================== STARTED FOOTER SCRIPT ==============================-->
    <script src="~/js/jquery.key.js"></script>
    <script src="~/js/footer.js"></script>
    <!-- #endregion -->
</body>
</html>