﻿@using Microsoft.AspNetCore.Http
<div id="leftsidebar" class="sidebar">
    <div class="sidebar-scroll">
        <nav id="leftsidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu">
                <li class="heading">Dashboard</li>
                <li class="home"><a href="/Home/Index"><i class="icon-home"></i><span>Bảng điều khiển</span></a></li>
                <li class="logout"><a href="/User/Logout" title="Ctrl + Q"><i class="fa fa-sign-out"></i><span>Thoát</span></a></li>
                <li class="heading">App</li>
                <li class="configgame"><a href="/ConfigGame/Index"><i class="icon-home"></i><span>Hình nền trang chủ</span></a></li>
                <li class="spaceship"><a href="/SpaceShip/Index"><i class="fa fa-space-shuttle"></i><span>SpaceShip</span></a></li>
                <li class="RoadMap"><a href="/RoadMap/Index"><i class="fa fa-road"></i><span>RoadMap</span></a></li>
                <li class="category"><a href="/Category/Index" title="Danh mục game"><i class="fa fa-feed"></i><span>Danh mục game</span></a></li>
                <li class="game"><a href="/Game/Index" title="Game"><i class="fa fa-gamepad"></i><span>Game</span></a></li>
                <li class="item"><a href="/Item/Index" title="Item"><i class="fa fa-archive"></i><span>Item</span></a></li>
                <li class="transaction"><a href="/Transaction/Index" title="Giao dịch"><i class="fa fa-cloud-upload"></i><span>Giao dịch</span></a></li>
                <li class="transactionDetail"><a href="/TransactionDetail/Index" title="Tiến trình Giao dịch"><i class="fa fa-server"></i><span>Tiến trình GD</span></a></li>
                <li class="score"><a href="/Score/Index" title="Score"><i class="fa fa-sort-numeric-asc"></i><span>Điểm</span></a></li>
                <li class="user"><a href="/User/Index" title="Người dùng"><i class="icon-users"></i><span>Người dùng</span></a></li>
                <li class="role"><a href="/Role/Index" title="Quyền"><i class="fa fa-shield"></i><span>Quyền</span></a></li>
            </ul>
        </nav>
    </div>
</div>