﻿<div id="mega_menubar" class="mega_menubar">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Subscribe</h2>
                    </div>
                    <div class="body">
                        <form>
                            <div class="form-group">
                                <input type="text" value="" placeholder="Enter Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" value="" placeholder="Enter Email" class="form-control">
                            </div>
                            <button class="btn btn-primary">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Accordion</h2>
                    </div>
                    <div class="body">
                        <ul class="accordion2">
                            <li class="accordion-item is-active">
                                <h3 class="accordion-thumb"><span>Lorem ipsum</span></h3>
                                <p class="accordion-panel">
                                    Lorem ipsum dolor sit amet, elit. Placeat, quibusdam! Voluptate nobis
                                </p>
                            </li>

                            <li class="accordion-item">
                                <h3 class="accordion-thumb"><span>Dolor sit amet</span></h3>
                                <p class="accordion-panel">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing  Voluptate nobis
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Company</h2>
                    </div>
                    <div class="body">
                        <ul class="list-unstyled links">
                            <li><a href="javascript:void(0);" title="">Our Facts</a></li>
                            <li><a href="javascript:void(0);" title="">Confidentiality</a></li>
                            <li><a href="javascript:void(0);" title="">About Us</a></li>
                            <li><a href="javascript:void(0);" title="">Testimonials</a></li>
                            <li><a href="javascript:void(0);" title="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Image Gallery</h2>
                    </div>
                    <div class="body">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img src="~/assets/images/image-gallery/1.jpg" class="img-fluid" alt="img" />
                                </div>
                                <div class="carousel-item">
                                    <img src="~/assets/images/image-gallery/2.jpg" class="img-fluid" alt="img" />
                                </div>
                                <div class="carousel-item">
                                    <img src="~/assets/images/image-gallery/3.jpg" class="img-fluid" alt="img" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>