﻿<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-brand">
            <a href="/Home/Index">
                <img src="~/assets/images/logo-icon.svg" alt="Mplify Logo" class="img-responsive logo">
                <span class="name">mplify</span>
            </a>
        </div>

        <div class="navbar-right">
            <ul class="list-unstyled clearfix mb-0">
                <li>
                    <div class="navbar-btn btn-toggle-show">
                        <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
                    </div>
                    <a title="Shift + Tab để ẩn hiện menu" href="javascript:void(0);" class="btn-toggle-fullwidth btn-toggle-hide"><i class="fa fa-bars"></i></a>
                </li>
                @*<li>
                    <div id="navbar-search" class="navbar-form search-form">
                        <input id="menu_search" value="" class="form-control" placeholder="Tìm kiếm menu..." type="text">
                        <script>
                            $("#menu_search").keyup(function (event) {
                                $("ul#main-menu li").removeClass("active");
                                if (event.keyCode === 13) {
                                    event.preventDefault();
                                    $("ul#main-menu li:contains('" + $(this).val() + "')").addClass("active");
                                }
                            });
                        </script>
                    </div>
                </li>*@
                <li>
                    <div id="navbar-menu">
                        <ul class="nav navbar-nav">
                            <li id="top_mgs"></li>
                            <li id="quickTool"></li>
                            <li><a href="javascript:void(0);" class="icon-menu js-right-sidebar"><i class="icon-settings"></i></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>