﻿@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("userName");
    if (userName == null)
    {
        Context.Response.Redirect("/User/Login");
    }
    else
    {
        ViewData["Title"] = "Quản lý Item"; Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="block-header">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12"><h2>@ViewData["Title"]</h2></div>
        <div class="col-lg-7 col-md-4 col-sm-12 text-right">
            <ul class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item">@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <ul class="header-dropdown">
                    <li> <a href="javascript:addRowTable.reload()" title="Tải lại dữ liệu" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                    <li><a href="javascript:void(0);" class="full-screen" title="Xem full màn hình"><i class="icon-size-fullscreen"></i></a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                            <li><a href="javascript:void(0);">Hành động</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <button id="addRow" class="btn btn-primary m-b-15" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                <button id="btnDelete" class="btn btn-danger m-b-15" type="button"><i class="fa fa-trash" aria-hidden="true"></i> Xóa item đang chọn</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="item">
                        <thead>
                            <tr>
                                <th class="font-weight-bold">ID</th>
                                <th>Tên</th>
                                <th>Mô tả</th>
                                <th>Ảnh</th>
                                <th>Giá (ETH)</th>
                                <th>Mua</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="font-weight-bold">ID</th>
                                <th>Tên</th>
                                <th>Mô tả</th>
                                <th>Ảnh</th>
                                <th>Giá (ETH)</th>
                                <th>Mua</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Javascript Files
================================================== -->

<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"></script>
<script>
    var addRowTable = {
        options: {
            addButton: "#addToTable",
            table: "#item",
            dialog: {}
        },
        reload: function () {
            this.datatable.ajax.reload();
        },
        initialize: function () {
            this.setVars().build().events()
        },
        setVars: function () {
            return this.$table = $(this.options.table), this.$addButton = $(this.options.addButton), this.dialog = {}, this.dialog.$wrapper = $(this.options.dialog.wrapper), this.dialog.$cancel = $(this.options.dialog.cancelButton), this.dialog.$confirm = $(this.options.dialog.confirmButton), this
        },
        build: function () {
            return this.datatable = $('#item').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "lengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
                "pageLength": 50,
                "rowId": 'itemId',
                "ajax": {
                    "url": "/Item/List",
                    "type": "POST",
                    "datatype": "json"
                },
                "language": default_language,// Biến được định nghĩa trong wwwroot/js/init_ui.js
                "dom": '<"top"flip<"clear">>rt<"bottom"flip<"clear">>B',
                "buttons": default_button, // Biến được định nghĩa trong wwwroot/js/init_ui.js
                "columnDefs": [{
                    orderable: false,
                    className: 'select-checkbox disabled',
                    targets: 0
                }],
                "select": {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                "columns": [
                    {
                        data: null, render: function (data, type, row) {
                            return '<span class="colId">' + row.itemId + '</span>';// Hàm được định nghĩa trong wwwroot/js/site.js
                        }
                    }
                    , { data: "itemName" }
                    , { data: "itemDesc" }
                    , { data: "itemImage" }
                    , { data: "itemPrice" }
                    , {
                        data: null, render: function (data, type, row) {
                            return '<a data-id="' + row.itemId + '" class="btn btn-success btnBuy" data-name="' + row.itemName + '"  data-description="' + row.itemDesc + '" data-price="' + row.itemPrice + '" data-image="' + row.itemImage + '">Mua</a>';
                        }
                    }
                    , {
                        data: null, render: function (data, type, row) {
                            return show_buttton_actions(["edit", "save", "discard", "remove"]);// Biến được định nghĩa trong wwwroot/js/site.js
                        }
                    }
                ]
            }), window.dt = this.datatable, this
        },
        events: function () {
            var object = this;
            return this.$table.on("click", "button.button-save", function (e) {
                e.preventDefault(), object.rowSave($(this).closest("tr"))
            }).on("click", "button.button-discard", function (e) {
                e.preventDefault(), object.rowCancel($(this).closest("tr"))
            }).on("click", "button.button-edit", function (e) {
                e.preventDefault(), object.rowEdit($(this).closest("tr"))
            }).on("click", "button.button-remove", function (e) {
                e.preventDefault();
                var $row = $(this).closest("tr");
                swal({
                    title: "Xác nhận xóa?",
                    text: "Xóa xong là không khôi phục được nữa đâu đấy",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#dc3545",
                    cancelButtonText: 'Thôi không xóa nữa vậy',
                    confirmButtonText: "Xóa thôi, hỏi gì nữa!",
                    closeOnConfirm: false
                }, function () {
                    object.rowRemove($row)
                    swal("Xóa rồi đấy nhé!", null, "success");
                });
            }), this.$addButton.on("click", function (e) {
                e.preventDefault(), object.rowAdd()
            }), this.dialog.$cancel.on("click", function (e) {
                e.preventDefault(), $.magnificPopup.close()
            }), this
        },
        rowAdd: function () {
            this.$addButton.attr({
                disabled: "disabled"
            });
            var data, $row;
            data = this.datatable.rows.add([{
                "itemId": "",
                "itemName": "",
                "itemDesc": "",
                "itemImage": "",
                "itemPrice": "",
            }]).draw();
            console.log(this.datatable.row(data[0]).nodes());
            ($row = this.datatable.row(data[0]).nodes().to$()).addClass("adding").find("td:last").addClass("actions");
            this.rowEdit($row);
            this.handleTooltip($row);
            this.datatable.order([0, "asc"]).draw()
        },
        rowCancel: function ($row) {
            var $actions, data;
            $row.hasClass("adding") ? this.rowRemove($row) : (($actions = $row.find("td div.actions")).find(".button-discard").tooltip("hide"), $actions.get(0) && this.rowSetActionsDefault($row),
                data = this.datatable.row($row.get(0)).data(),
                this.datatable.row($row.get(0)).data(data),
                this.handleTooltip($row),
                this.datatable.draw())
        },
        rowEdit: function ($row) {
            var data, object = this;
            this.handleTooltip($row);
            data = this.datatable.row($row.get(0)).data();
            $row.children("td").each(function (i) {
                var $this = $(this);
                if ($this.children().hasClass("actions")) {
                    object.rowSetActionsEditing($row);
                } else {
                    var disabled = $this.hasClass("disabled") ? "disabled" : "";
                    $this.html('<input type="text" required class="form-control input-block" value="' + Object.values(data)[i] + '" ' + disabled + ' />');
                }
            })
        },
        rowSave: function ($row) {
            var object = this, values = [];
            $row.hasClass("adding");
            this.$addButton.removeAttr("disabled");
            $row.removeClass("adding");
            values = $row.find("td").map(function () {
                var $this = $(this);
                return $this.children().hasClass("actions") ? (object.rowSetActionsDefault($row), object.datatable.cell(this).data()) : $.trim($this.find("input").val())
            });
            $row.find("td div.actions").find(".button-save").tooltip("hide");
            $.ajax({
                url: "/Item/Update/",
                type: "POST",
                data: {
                    itemId: values[0],
                    itemName: values[1],
                    itemDesc: values[2],
                    itemPrice: values[3]
                }
            }).done(function (data) {
                $('#item').DataTable().ajax.reload();
            }).fail(function (jqXHR) {
                swal("Có lỗi", jqXHR.status, "error");
            });
        },
        rowRemove: function ($row) {
            var itemId = this.datatable.row($row.get(0)).data().itemId;
            if (itemId != "") {
                $.ajax({
                    url: "/Item/Delete/" + itemId,
                    type: "DELETE",
                }).done(function (data) {
                    $('#item').DataTable().ajax.reload();
                }).fail(function (jqXHR) {
                    swal("Có lỗi", jqXHR.status, "error");
                });
            } else {
                $('tr.adding').remove();
                $('#addToTable').removeAttr("disabled");
            }
        },
        rowSetActionsEditing: function ($row) {
            $row.find(".on-editing").removeAttr("hidden"), $row.find(".on-default").attr("hidden", !0)
        },
        rowSetActionsDefault: function ($row) {
            $row.find(".on-editing").attr("hidden", !0), $row.find(".on-default").removeAttr("hidden")
        },
        handleTooltip: function ($row) {
            $row.find('[data-toggle="tooltip"]').tooltip()
        }
    };
    $(function () {
        // metamask
        var abi = [
            {
                "inputs": [],
                "stateMutability": "nonpayable",
                "type": "constructor"
            },
            {
                "anonymous": false,
                "inputs": [
                    {
                        "indexed": false,
                        "internalType": "address",
                        "name": "from",
                        "type": "address"
                    },
                    {
                        "indexed": false,
                        "internalType": "address",
                        "name": "to",
                        "type": "address"
                    },
                    {
                        "indexed": false,
                        "internalType": "uint256",
                        "name": "ammount",
                        "type": "uint256"
                    }
                ],
                "name": "sent",
                "type": "event"
            },
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "",
                        "type": "address"
                    }
                ],
                "name": "balances",
                "outputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "_to",
                        "type": "address"
                    }
                ],
                "name": "getBalanceOf",
                "outputs": [
                    {
                        "internalType": "uint256",
                        "name": "accountBalance",
                        "type": "uint256"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "receiver",
                        "type": "address"
                    },
                    {
                        "internalType": "uint256",
                        "name": "amount",
                        "type": "uint256"
                    }
                ],
                "name": "mint",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "minter",
                "outputs": [
                    {
                        "internalType": "address",
                        "name": "",
                        "type": "address"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "receiver",
                        "type": "address"
                    },
                    {
                        "internalType": "uint256",
                        "name": "amount",
                        "type": "uint256"
                    }
                ],
                "name": "send",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "address payable",
                        "name": "_to",
                        "type": "address"
                    }
                ],
                "name": "sendViaCall",
                "outputs": [],
                "stateMutability": "payable",
                "type": "function"
            }
        ];
        const addressSM = "0x2b7aEC58E46293b2f924C1AB8D1F513B3E5A45c1"; // dia chi smart contract sinh ra

        if (checkMM()) {
            const web3 = new Web3(window.ethereum);
            window.ethereum.enable();
            // tao smart contract cho metamask
            var contract_MM = new web3.eth.Contract(abi, addressSM);
            console.log("contract_metamask: ", contract_MM);
            var currentAccount = "";

            connectMM().then((data) => {
                currentAccount = data[0];
                console.log("current account: " + currentAccount);
            }).catch((err) => {
                console.log("connectMM error: " + err);
            });
        }
        else {
            var link = '<a href="https://metamask.io/" class="link-success" target="_blank">Click link</a>';
            hc1ShowToast("Thông báo", "Metamask chưa được cài đặt.<br/>Metamask: " + link, "error", "dark", 15000);
        }

        // buy
        $(document).on({
            click: function () {
                if (checkMM()) {
                    let itemId = $(this).data("id");
                    let itemName = $(this).data("name");
                    let itemDesc = $(this).data("description");
                    let itemImage = $(this).data("image");
                    let itemPrice = $(this).data("price");
                    let itemPriceEle = "Giá: " + $(this).data("price") + " ETH";
                    //let itemImg = '<img src="/assets/images/dogs/1.jpg" class="card-img-top" alt="dog image">';
                    let itemImg = '<img src="' + itemImage+'" class="card-img-top" alt="">';
                    if (itemId != "") {
                        Swal.fire({
                            title: itemName,
                            html: itemImg + itemPriceEle,
                            showCloseButton: true,
                            showCancelButton: true,
                            focusConfirm: false,
                            confirmButtonText: 'Mua',
                            cancelButtonAriaLabel: 'Đóng'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                var val = 1000000000000000000 * itemPrice;
                                result_detail = 0;
                                $.ajax({
                                    url: "/TransactionDetail/Update",
                                    method: "POST",
                                    data: { blockHash: "null", status: 0, itemid: itemId },
                                    success: function (data) {
                                        console.log(data.result);
                                        result_detail = data.result;
                                        console.log("result_detail: ", result_detail);
                                        if (result_detail > 0) {
                                            contract_MM.methods.sendViaCall("0xc0aE75aA83b23c675F6DD3a3063026d6d2aA86CB").send({
                                                from: currentAccount,
                                                value: val
                                            }).then((data) => {
                                                $.ajax({
                                                    url: "/TransactionDetail/Update",
                                                    method: "POST",
                                                    data: { tranId: result_detail, blockHash: data.blockHash, status: 1, itemid: itemId },
                                                    success: function (data) {
                                                        console.log(data.result);
                                                        result = data.result;
                                                    }
                                                });
                                                $.ajax({
                                                    url: "/Transaction/Update",
                                                    method: "POST",
                                                    data: { blockHash: data.blockHash, status: 1, itemid: itemId },
                                                    success: function (data) {
                                                        console.log(data.result);
                                                        result = data.result;
                                                        hc1ShowToast("Thông báo", "success", "success", "dark", 4000);
                                                    }
                                                });
                                            }).catch((err) => {
                                                //console.log(err);
                                                UOrITranDetail({ tranId: result_detail, blockHash: "null", status: -1, itemid: itemId });
                                                hc1ShowToast("Thông báo", "error", "error", "dark", 4000);
                                            });
                                        }
                                        else {
                                            alert("có lỗi khi tạo");
                                        }
                                    }
                                });
                            }
                        });
                    } else {
                        hc1ShowToast("Cảnh báo", "Lỗi thao tác", "warning", "dark", 5000);
                    }
                }
                else {
                    var link = '<a href="https://metamask.io/" class="link-success" target="_blank">Click link</a>';
                    hc1ShowToast("Thông báo", "Metamask chưa được cài đặt.<br/>Metamask: " + link, "error", "dark", 5000);
                }
            }
        }, ".btnBuy");

        addRowTable.initialize();
        $('#addRow').click(function () {
            let select_game = "Không lấy được danh sách quyền";
            $.ajax({
                url: "/Item/Get",
                method: "GET",
                success: function (data) {
                    let list_cate = data.data;
                    let cate_html = "";
                    for (var i = 0; i < list_cate.length; i++) {
                        cate_html += '<option value="' + list_cate[i].cateId + '">' + list_cate[i].cateDesc + '</option>';
                    }
                    select_cate = '<select required class="form-control" tabindex="5" id="cateId">' + cate_html + '</select>';
                    var html = '<tr class="adding">';
                    html += '<td><a class="btnCancelAddNew btn btn-sm btn-icon btn-pure btn-danger on-default" data-toggle="tooltip" data-original-title="Hủy"><i class="icon-close" aria-hidden="true"></i></a></td>';
                    html += '<td><input required class="form-control" type="text" id="itemName" name="itemName" tabindex="1" /></td>';
                    html += '<td><input required class="form-control" type="text" id="itemDesc" name="itemDesc" tabindex="2" /></td>';
                    html += '<td><input required class="form-control" type="file" id="itemImage1" name="itemImage1" tabindex="3" accept="image/png, image/gif, image/jpeg"/><input type="hidden" class="form-control" name="itemImage" id="itemImage"/></td>';
                    html += '<td><input required class="form-control" type="number" placeholder="0.0001" min="0" step="0.0001" id="itemPrice" name="itemPrice" tabindex="3"/></td>';
                    html += '<td><button type="button" name="insert" id="insert" class="btn btn-success btn-xs" tabindex="4"><i class="icon-plus" aria-hidden="true"></i> Thêm mới</button></td>';
                    html += '</tr>';
                    $('.dataTable tbody').prepend(html);
                },
                error: function (xhr) {
                    alert("Không lấy được API Get all User");
                    console.log(xhr.responseText);
                }
            });
        });
        // insert
        $(document).on('click', '#insert', function () {
            var itemName = $('#itemName').val();
            var itemDesc = $('#itemDesc').val();
            var itemImage = $('#itemImage').val();
            var itemPrice = $('#itemPrice').val();
            if (itemName != '' && itemDesc != '' && itemPrice != '') {
                let data_item = {
                    itemName: itemName,
                    itemDesc: itemDesc,
                    itemImage: itemImage,
                    itemPrice: itemPrice
                }
                $.ajax({
                    url: "/item/Update",
                    method: "POST",
                    data: { item: data_item },
                    success: function (data) {
                        hc1ShowToast("Thông báo", "Thêm mới thành công", "success", "dark", 4000);
                        $('#item').DataTable().ajax.reload();
                    }
                });
            }
            else {
                hc1ShowToast("Lỗi", "Yêu cầu nhập đầy đủ các trường dữ liệu", "error", "dark", 4000);
                return false;
            }
        });
        $(document).on('change', '#itemImage1', function () {
            var itemImage = $("#itemImage1").val();
            //var file = $('#itemImage')[0].files[0];console.log();ofilm_video.upload_file();
            var fd = new FormData();
            var files = $('#itemImage1')[0].files[0];
            fd.append('file', files);
            $.ajax({
                url: "/Item/upload_file",
                data: fd,
                contentType: false,
                processData: false,
                type: 'post',
                success: function (data) {
                    console.log(data.file);
                    $("#itemImage").val(data.file);
                },
                error: function (data) {
                    alert("Có lỗi khi upload");
                }
            });
        });
    });
    async function connectMM() {
        const accounts = await ethereum.request({
            method: 'eth_requestAccounts'
        });
        return accounts;
    }
    function checkMM() {
        if (typeof window.ethereum != "undefined") {
            console.log("MM is Installed");
            return true;
        } else {
            console.log("MM not installed yet");
            return false;
        }
    }
    function UOrITran() {
        $.ajax({
            url: "/Transaction/Update",
            method: "POST",
            data: data_transaction,
            success: function (data) {
                hc1ShowToast("Thông báo", "1", "success", "dark", 4000);
            }
        });
    }
    function UOrITranDetail(data_transaction) {
        var result = 0;
        $.ajax({
            url: "/TransactionDetail/Update",
            method: "POST",
            data: data_transaction,
            success: function (data) {
                console.log(data.result);
                result = data.result;
            }
        });
        return result;
    }
</script>