﻿@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("userName");
    if (userName == null)
    {
        Context.Response.Redirect("/User/Login");
    }
    else
    {
        ViewData["Title"] = "Quản lý Item";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<!-- #region ======================================================== KHUNG HIỆN THỊ ========================================================-->
<div class="block-header">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-lg-7 col-md-4 col-sm-12 text-right">
            <ul class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item">@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" id="connectMM">Connect Meta Mask</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <img src="~/assets/images/dogs/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" id="title1">Item1</h5>
                            <p class="card-text">This is item1</p>
                            <p class="card-text">Price: <span id="priceCard1">1</span></p>
                            <a href="javascript:void(0);" class="btn btn-primary buyItem">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="~/assets/images/dogs/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" id="title2">Item1</h5>
                            <p class="card-text">This is item1</p>
                            <p class="card-text">Price: <span id="priceCard2">1</span></p>
                            <a href="javascript:void(0);" class="btn btn-primary buyItem">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="~/assets/images/dogs/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" id="title3">Item1</h5>
                            <p class="card-text">This is item1</p>
                            <p class="card-text">Price: <span id="priceCard3">1</span></p>
                            <a href="javascript:void(0);" class="btn btn-primary buyItem">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="~/assets/images/dogs/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" id="title4">Item1</h5>
                            <p class="card-text">This is item1</p>
                            <p class="card-text">Price: <span id="priceCard4">1</span></p>
                            <a href="javascript:void(0);" class="btn btn-primary buyItem">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"></script>
<script>
    var otc = new test_contract();
    $(document).ready(function () {
        const web3 = new Web3(window.ethereum);
        window.ethereum.enable();
        otc.checkMM();
        var contract_MM = new web3.eth.Contract(otc.abi, otc.addressSM);
        console.log("contract_metamask: ", contract_MM);

        // connect metamask
        $("#connectMM").click(function () {
            otc.connectMM().then((data) => {
                currentAccount = data[0];
                alert("connect metamask success:" + currentAccount);
            }).catch((err) => {
                console.log("connectMM error:", err);
            });
        })

        var currentAccount = "";
        $(".buyItem").click(function () {
            console.time("createItem time");
            var name = $("#title1").val();
            otc.createItem(contract_MM, currentAccount, name);
            console.timeEnd("createItem time");
        })
    });

    function test_contract() {
        var self = this;
        this.checkMM = function checkMM() {
            if (typeof window.ethereum != "undefined") {
                console.log("MM is Installed");
                return true;
            } else {
                console.log("MM not installed yet");
                return false;
            }
        }
        this.notice = function notice(content) {
            const txt = "[Thông báo] " + content;
            $("#notice").html(txt);
        }
        this.connectMM = async function connectMM() {
            const accounts = await ethereum.request({
                method: 'eth_requestAccounts'
            });
            return accounts;
        }

        this.createItem = function createItem(contract_MM, currentAccount, name) {
            contract_MM.methods.create(name).send({
                from: currentAccount
            }).then((data) => {
                self.notice(data + "");
            }).catch((err) => {
                self.notice("error: " + err);
            });
        }
        this.abi = [
            {
                "inputs": [
                    {
                        "internalType": "string",
                        "name": "name",
                        "type": "string"
                    }
                ],
                "name": "create",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "id",
                        "type": "uint256"
                    }
                ],
                "name": "deleteItem",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "amount",
                        "type": "uint256"
                    }
                ],
                "name": "deposit",
                "outputs": [],
                "stateMutability": "payable",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "getBalance",
                "outputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "name": "items",
                "outputs": [
                    {
                        "internalType": "uint256",
                        "name": "id",
                        "type": "uint256"
                    },
                    {
                        "internalType": "string",
                        "name": "name",
                        "type": "string"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "nextId",
                "outputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "id",
                        "type": "uint256"
                    }
                ],
                "name": "read",
                "outputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    },
                    {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "id",
                        "type": "uint256"
                    },
                    {
                        "internalType": "string",
                        "name": "name",
                        "type": "string"
                    }
                ],
                "name": "update",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            }
        ];
        this.addressSM = "0x94Cdb70BeA524EdF4C552f15ecf01D43C78E6230";
    }


</script>