﻿@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("userName");
    var roleName = Context.Session.GetString("roleName");
    if (userName == null)
    {
        Context.Response.Redirect("/User/Login");
    }
    else
    {
        if (roleName != "admin")
        {
            Context.Response.Redirect("/Home/Index");
        }
        ViewData["Title"] = "Quản lý người dùng";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<!-- #region ======================================================== KHUNG HIỆN THỊ ========================================================-->
<div class="block-header">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-lg-7 col-md-4 col-sm-12 text-right">
            <ul class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item">@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <ul class="header-dropdown">
                    <li> <a href="javascript:addRowTable.reload()" title="Tải lại dữ liệu" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                    <li><a href="javascript:void(0);" class="full-screen" title="Xem full màn hình"><i class="icon-size-fullscreen"></i></a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                            <li><a href="javascript:void(0);">Hành động</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group" role="group" aria-label="Default button group">
                            <button id="addRow" class="btn btn-primary m-b-15" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                            <button id="btnDelete" class="btn btn-danger m-b-15" type="button"><i class="fa fa-trash" aria-hidden="true"></i> Xóa item đang chọn</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group" role="group" aria-label="Default button group">
                            <button id="btnSampleFile" data-file="User.xlsx" title="Tải file mẫu" class="btn btn-danger m-b-15" type="button"><i class="fa fa-download" aria-hidden="true"></i></button>
                            <input type="file" class="form-control-file custom-file" id="file" accept=".xlsx,.xls" /><br />
                            <button id="btnImportExcel" data-model="User" class="btn btn-secondary m-b-15" type="button" disabled><i class="fa fa-file-excel-o" aria-hidden="true"></i> Nhập từ Excel</button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="user">
                        <thead><tr><th class="font-weight-bold">ID</th><th>Tên</th><th>Mật khẩu</th><th>Họ và tên</th><th>Mô tả</th><th>Trạng thái</th><th>Email</th><th>Ngày sinh</th><th>Giới tính</th><th>Quyền</th><th>Điểm</th><th>Log</th><th>Actions</th></tr></thead>
                        <tfoot><tr><th class="font-weight-bold">ID</th><th>Tên</th><th>Mật khẩu</th><th>Họ và tên</th><th>Mô tả</th><th>Trạng thái</th><th>Email</th><th>Ngày sinh</th><th>Giới tính</th><th>Quyền</th><th>Điểm</th><th>Log</th><th>Actions</th></tr></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion-->
<!-- #region ==================================================== BINDDING DATA VIA AJAX ====================================================-->
<script>
    $(document).ready(function () {
        var list_role;
        $.get("/Role/List", function (data) {
            list_role = data.data;
        });
        var addRowTable = {
            options: {
                addButton: "#addToTable",
                table: "#user",
                dialog: {}
            },
            reload: function () {
                this.datatable.ajax.reload();
            },
            initialize: function () {
                this.setVars().build().events()
            },
            setVars: function () {
                return this.$table = $(this.options.table), this.$addButton = $(this.options.addButton), this.dialog = {}, this.dialog.$wrapper = $(this.options.dialog.wrapper), this.dialog.$cancel = $(this.options.dialog.cancelButton), this.dialog.$confirm = $(this.options.dialog.confirmButton), this
            },
            build: function () {
                return this.datatable = $('#user').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "lengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
                    "pageLength": 50,
                    "rowId": 'userId',
                    "ajax": {
                        "url": "/User/List",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "language": default_language,// Biến được định nghĩa trong wwwroot/js/init_ui.js
                    "dom": '<"top"flip<"clear">>rt<"bottom"flip<"clear">>B',
                    "buttons": default_button, // Biến được định nghĩa trong wwwroot/js/init_ui.js
                    "columnDefs": [{
                        orderable: false,
                        className: 'select-checkbox disabled',
                        targets: 0
                    }],
                    "select": {
                        style: 'multi',
                        selector: 'td:first-child',
                    },
                    "columns": [
                        {
                            data: null, render: function (data, type, row) {
                                return '<span class="colId"> ' + row.userId + '</span>';// Hàm được định nghĩa trong wwwroot/js/site.js
                            }
                        }
                        , { data: "userName" }
                        , { data: "userPass" }
                        , { data: "userFullName" }
                        , { data: "userDesc" }
                        , { data: "userStatus" }
                        , { data: "userEmail" }
                        , { data: "userBirthday" }
                        , { data: "userGender" }
                        , {
                            data: null, render: function (data, type, row) {
                                for (let i = 0; i < list_role.length; i++) {
                                    if (row.roleId == list_role[i].roleId) {
                                        return list_role[i].roleDesc;;
                                    }
                                }
                                return "Unknown";
                            }
                        }
                        , { data: "userPoint" }
                        , {
                            data: null, render: function (data, type, row) {
                                return '<a data-id="' + row.userId + '" data-log="' + row.userLog + '" class="btn btn-default btnViewLog">Xem Log</a>';
                            }
                        }
                        , {
                            data: null, render: function (data, type, row) {
                                return show_buttton_actions(["edit", "save", "discard", "remove"]);// Biến được định nghĩa trong wwwroot/js/site.js
                            }
                        }
                    ]
                }), window.dt = this.datatable, this
            },
            events: function () {
                var object = this;
                return this.$table.on("click", "button.button-save", function (e) {
                    e.preventDefault(), object.rowSave($(this).closest("tr"))
                }).on("click", "button.button-discard", function (e) {
                    e.preventDefault(), object.rowCancel($(this).closest("tr"))
                }).on("click", "button.button-edit", function (e) {
                    e.preventDefault(), object.rowEdit($(this).closest("tr"))
                }).on("click", "button.button-remove", function (e) {
                    e.preventDefault();
                    var $row = $(this).closest("tr");
                    swal({
                        title: "Xác nhận xóa?",
                        text: "Xóa xong là không khôi phục được nữa đâu đấy",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#dc3545",
                        cancelButtonText: 'Thôi không xóa nữa vậy',
                        confirmButtonText: "Xóa thôi, hỏi gì nữa!",
                        closeOnConfirm: false
                    }, function () {
                        object.rowRemove($row)
                        swal("Xóa rồi đấy nhé!", null, "success");
                    });
                }), this.$addButton.on("click", function (e) {
                    e.preventDefault(), object.rowAdd()
                }), this.dialog.$cancel.on("click", function (e) {
                    e.preventDefault(), $.magnificPopup.close()
                }), this
            },
            rowAdd: function () {
                this.$addButton.attr({
                    disabled: "disabled"
                });
                var data, $row;
                data = this.datatable.rows.add([{
                    "userId": "",
                    "userName": "",
                    "userPass": "",
                    "userFullName": "",
                    "userDesc": "",
                    "userStatus": "",
                    "userEmail": "",
                    "userBirthday": "",
                    "userGender": "",
                    "roleId": "",
                    "userPoint": "",
                    "userLog": "",
                }]).draw();
                ($row = this.datatable.row(data[0]).nodes().to$()).addClass("adding").find("td:last").addClass("actions");
                this.rowEdit($row);
                this.handleTooltip($row);
                this.datatable.order([0, "asc"]).draw()
            },
            rowCancel: function ($row) {
                var $actions, data;
                $row.hasClass("adding") ? this.rowRemove($row) : (($actions = $row.find("td div.actions")).find(".button-discard").tooltip("hide"), $actions.get(0) && this.rowSetActionsDefault($row),
                    data = this.datatable.row($row.get(0)).data(),
                    this.datatable.row($row.get(0)).data(data),
                    this.handleTooltip($row),
                    this.datatable.draw())
            },
            rowEdit: function ($row) {
                var data, object = this;
                this.handleTooltip($row);
                data = this.datatable.row($row.get(0)).data();
                $row.children("td").each(function (i) {
                    var $this = $(this);
                    if ($this.children().hasClass("actions")) {
                        object.rowSetActionsEditing($row);
                    } else {
                        var disabled = $this.hasClass("disabled") ? "disabled" : "";
                        switch (i) {
                            case 7:
                                $this.html('<input id="userBirthday" type="datetime-local" required class="form-control input-block" value="' + Object.values(data)[i] + '" ' + disabled + ' />');
                                break;
                            case 8:
                                $this.html('<select required class="form-control select_userGender" tabindex="5" id="userGender"><option value="Nam">Nam</option><option value="Nữ">Nữ</option></select>');
                                break;
                            case 9:
                                let role_html = "";
                                for (let i = 0; i < list_role.length; i++) {
                                    let selected = (data.roleId == list_role[i].roleId) ? "selected" : "";
                                    role_html += '<option value="' + list_role[i].roleId + '"' + selected + '>' + list_role[i].roleDesc + '</option>';
                                }
                                $this.html('<select id="roleId" required class="form-control select_roleId">' + role_html + '</select>');
                                break;
                            case 10:
                                $this.html('<input id="userPoint" type="number" required class="form-control input-block" value="' + Object.values(data)[i] + '" ' + disabled + ' />');
                                break;
                            default:
                                $this.html('<input type="text" required class="form-control input-block" value="' + Object.values(data)[i] + '" ' + disabled + ' />');
                                break;
                        }
                    }
                })
            },
            rowSave: function ($row) {
                var object = this, values = [];
                $row.hasClass("adding");
                this.$addButton.removeAttr("disabled");
                $row.removeClass("adding");
                values = $row.find("td").map(function () {
                    var $this = $(this);
                    if ($this.children().hasClass("actions")) {
                        return (object.rowSetActionsDefault($row), object.datatable.cell(this).data());
                    } else {
                        if ($this.children().hasClass("select_roleId")) {
                            return $.trim($this.find("select#roleId").val());
                        } else if ($this.children().hasClass("select_userGender")) {
                            return $.trim($this.find("select#userGender").val());
                        } else {
                            return $.trim($this.find("input").val());
                        }
                    }
                });
                $row.find("td div.actions").find(".button-save").tooltip("hide");
                $.ajax({
                    url: "/User/Update/",
                    type: "POST",
                    data: {
                        userId: values[0],
                        userName: values[1],
                        userPass: values[2],
                        userFullName: values[3],
                        userDesc: values[4],
                        userStatus: values[5],
                        userEmail: values[6],
                        userBirthday: values[7],
                        userGender: values[8],
                        roleId: values[9],
                        userPoint: values[10],
                        userLog: values[11],
                    }
                }).done(function (data) {
                    hcShowToast("Thông báo", "Cập nhật thành công", "success", "dark", 3000, false);
                    $('#user').DataTable().ajax.reload();
                }).fail(function (jqXHR) {
                    swal("Có lỗi", jqXHR.status, "error");
                });
            },
            rowRemove: function ($row) {
                var userId = this.datatable.row($row.get(0)).data().userId;
                if (userId != "") {
                    $.ajax({
                        url: "/User/Delete/" + userId,
                        type: "DELETE",
                    }).done(function (data) {
                        $('#user').DataTable().ajax.reload();
                    }).fail(function (jqXHR) {
                        swal("Có lỗi", jqXHR.status, "error");
                    });
                } else {
                    $('tr.adding').remove();
                    $('#addToTable').removeAttr("disabled");
                }
            },
            rowSetActionsEditing: function ($row) {
                $row.find(".on-editing").removeAttr("hidden"), $row.find(".on-default").attr("hidden", !0)
            },
            rowSetActionsDefault: function ($row) {
                $row.find(".on-editing").attr("hidden", !0), $row.find(".on-default").removeAttr("hidden")
            },
            handleTooltip: function ($row) {
                //$row.find('[data-toggle="tooltip"]').tooltip()
            }
        };
        addRowTable.initialize();
        $('#addRow').click(function () {
            let select_role = "Không lấy được danh sách quyền";
            $.ajax({
                url: "/Role/Get",
                method: "GET",
                success: function (data) {
                    let list_role = data.data;
                    let role_html = "";
                    for (var i = 0; i < list_role.length; i++) {
                        role_html += '<option value="' + list_role[i].roleId + '">' + list_role[i].roleDesc + '</option>';
                    }
                    select_role = '<select required class="form-control" tabindex="9" id="userStatus">' + role_html + '</select>';
                    var html = '<tr class="adding">';
                    html += '<td><a class="btnCancelAddNew btn btn-sm btn-icon btn-pure btn-danger on-default" data-toggle="tooltip" data-original-title="Hủy"><i class="icon-close" aria-hidden="true"></i></a></td>';
                    html += '<td><input required class="form-control" type="text" id="userName" name="userName" tabindex="1" /></td>';
                    html += '<td><input required class="form-control" type="text" id="userPass" name="userPass" tabindex="2" /></td>';
                    html += '<td><input required class="form-control" type="text" id="userFullName" name="userFullName" tabindex="3" /></td>';
                    html += '<td><input required class="form-control" type="text" id="userDesc" name="userDesc" tabindex="4" /></td>';
                    html += '<td><input required class="form-control" type="text" id="userStatus" name="userStatus" tabindex="5" /></td>';
                    html += '<td><input required class="form-control" type="text" id="userEmail" name="userEmail" tabindex="6" /></td>';
                    html += '<td><input required class="form-control" type="datetime-local" id="userBirthday" name="userBirthday" tabindex="7" /></td>';
                    html += '<td><select required class="form-control" tabindex="5" id="userGender"><option value="Nam">Nam</option><option value="Nữ">Nữ</option></select></td>';
                    html += '<td>' + select_role + '</td>';
                    html += '<td><input required class="form-control" type="text" id="userPoint" name="userPoint" tabindex="10" /></td>';
                    html += '<td><input required class="form-control" type="text" id="userLog" name="userLog" tabindex="11" /></td>';
                    html += '<td><button type="button" name="insert" id="insert" class="btn btn-success btn-xs" tabindex="12"><i class="icon-plus" aria-hidden="true"></i> Thêm mới</button></td>';
                    html += '</tr>';
                    $('.dataTable tbody').prepend(html);
                },
                error: function (xhr) {
                    alert("Không lấy được API Get all User");
                    console.log(xhr.responseText);
                }
            });

        });
        // #region ===================================== ADD NEW =====================================
        $(document).on('click', '#insert', function () {
            var userName = $('#userName').val();
            var userPass = $('#userPass').val();
            var userFullName = $('#userFullName').val();
            var userDesc = $('#userDesc').val();
            var userEmail = $('#userEmail').val();
            var userBirthday = $('#userBirthday').val();
            var userGender = $('#userGender').val();
            var userStatus = $('#userStatus').val();
            var roleId = $('#roleId').val();
            var userPoint = $('#userPoint').val();
            var userLog = $('#userLog').val();
            if (userName.length > 0 && userPass.length > 0 && userFullName.length > 0 && userStatus.length > 0 && roleId.length > 0) {
                let dataObj = {
                    userName: userName,
                    userPass: userPass,
                    userFullName: userFullName,
                    userDesc: userDesc,
                    userEmail: userEmail,
                    userBirthday: userBirthday,
                    userGender: userGender,
                    roleId: roleId,
                    userPoint: userPoint,
                    userLog: userLog,
                }
                $.ajax({
                    url: "/User/Update",
                    method: "POST",
                    data: { user: dataObj },
                    success: function (data) {
                        hcShowToast("Thông báo", "Thêm mới thành công", "success", "dark", 4000);
                        $('#user').DataTable().ajax.reload();
                    }
                });
            } else {
                hcShowToast("Lỗi", "Yêu cầu nhập đầy đủ các trường dữ liệu", "error", "dark", 4000);
                return false;
            }

        });
        // #endregion ===================================== ADD NEW =====================================
        // #region ===================================== VIEW LOG =====================================
        $(document).on({
            click: function () {
                let userId = $(this).data("id");
                let userLog = $(this).data("log");
                if (userLog != "") {
                    Swal.fire({
                        title: 'Log đăng nhập',
                        icon: 'info',
                        html: '<textarea class="form-control" rows="10">' + userLog + '</textarea>',
                        showCloseButton: true,
                        showCancelButton: true,
                        focusConfirm: false,
                        confirmButtonText: 'Xóa Log',
                        cancelButtonAriaLabel: 'Đóng'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Gọi hàm xóa log
                            $.ajax({
                                url: "/User/DeleteLog/" + userId,
                                method: "GET",
                                success: function (data) {
                                    hcShowToast("Thông báo", "Đã xóa log rồi nhé, đỡ nặng dữ liệu bao nhiêu 😅", "success", "dark", 4000);
                                    $('#user').DataTable().ajax.reload();
                                }
                            });
                        }
                    });
                } else {
                    hcShowToast("Siêu cảnh báo", "Trời, làm gì có mà đâu đọc nữa... 😅", "warning", "dark", 7000);
                }
            }
        }, ".btnViewLog");
        // #endregion ===================================== VIEW LOG=====================================
        // #region ===================================== BATCH DELETE =====================================
        var list_selected = [];
        $('#btnDelete').click(function () {
            $("tr.selected").each(function () {
                list_selected.push($(this).attr("id"));
            });
            if (list_selected.length > 0) {
                Swal.fire({
                    title: 'Bạn có chắc không?',
                    html: 'Xóa <strong>' + list_selected.length + "</strong> User",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Uh, Xóa nhanh hộ cái!',
                    cancelButtonText: 'Thôi đùa đấy!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        let list_selected_str = list_selected.toString();
                        $.ajax({
                            url: "/User/BatchDelete/",
                            type: "DELETE",
                            data: {
                                list_selected: list_selected
                            }
                        }).done(function (data) {
                            hcShowToast("Thông báo", "Xóa ID " + list_selected_str + " thành công ", "success", "dark", 4000);
                            $('#user').DataTable().ajax.reload();
                        }).fail(function (jqXHR) {
                            swal("Có lỗi", jqXHR.status, "error");
                        });
                        list_selected = [];
                    }
                });
            } else {
                hcShowToast("Cảnh báo", "Chưa chọn ID nào xóa sao được", "warning", "dark", 4000);
            }
        });
        // #endregion ===================================== BATCH DELETE =====================================
    });
</script>
<!-- #endregion-->