﻿@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("userName");
    if (userName == null)
    {
        Context.Response.Redirect("/User/Login");
    }
    else
    {
        ViewData["Title"] = "Quản lý Giao dịch";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<!-- #region ======================================================== KHUNG HIỆN THỊ ========================================================-->
<div class="block-header">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-lg-7 col-md-4 col-sm-12 text-right">
            <ul class="breadcrumb justify-content-end">
                <li class="breadcrumb-Transaction"><a href="/"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-Transaction">@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <ul class="header-dropdown">
                    <li> <a href="javascript:addRowTable.reload()" title="Tải lại dữ liệu" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                    <li><a href="javascript:void(0);" class="full-screen" title="Xem full màn hình"><i class="icon-size-fullscreen"></i></a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                            <li><a href="javascript:void(0);">Hành động</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="Transaction">
                        <thead>
                            <tr>
                                <th class="font-weight-bold">ID</th>
                                <th>BLock Hash</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="font-weight-bold">ID</th>
                                <th>BLock Hash</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion-->
<!-- #region ==================================================== BINDDING DATA VIA AJAX ====================================================-->
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"></script>
<script>
                // hoanchu
var addRowTable = {
    options: {
        addButton: "#addToTable",
        table: "#Transaction",
        dialog: {}
    },
    reload: function () {
        this.datatable.ajax.reload();
    },
    initialize: function () {
        this.setVars().build().events()
    },
    setVars: function () {
        return this.$table = $(this.options.table), this.$addButton = $(this.options.addButton), this.dialog = {}, this.dialog.$wrapper = $(this.options.dialog.wrapper), this.dialog.$cancel = $(this.options.dialog.cancelButton), this.dialog.$confirm = $(this.options.dialog.confirmButton), this
    },
    build: function () {
        return this.datatable = $('#Transaction').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "lengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
            "pageLength": 50,
            "rowId": 'TransactionId',
            "ajax": {
                "url": "/Transaction/List",
                "type": "POST",
                "datatype": "json"
            },
            "language": default_language,// Biến được định nghĩa trong wwwroot/js/init_ui.js
            "dom": '<"top"flip<"clear">>rt<"bottom"flip<"clear">>B',
            "buttons": default_button, // Biến được định nghĩa trong wwwroot/js/init_ui.js
            "columnDefs": [{
                orderable: false,
                className: 'select-checkbox disabled',
                targets: 0
            }],
            "select": {
                style: 'multi',
                selector: 'td:first-child'
            },
            "columns": [
                {
                    data: null, render: function (data, type, row) {
                        return '<span class="colId">' + row.tranId + '</span>';// Hàm được định nghĩa trong wwwroot/js/site.js
                    }
                }
                , { data: "blockHash" }
                , {
                    data: null, render: function (data, type, row) {
                        if(row.status==1){
                            return '<span class="badge badge-success">Thành công</span>';
                        }
                        else{
                            return "";
                        }
                    }
                }
                , {
                    data: null, render: function (data, type, row) {
                        return "";
                        return  show_buttton_actions(["edit", "save", "discard", "remove"]);// Biến được định nghĩa trong wwwroot/js/site.js
                    }
                }
            ]
        }), window.dt = this.datatable, this
    },
    events: function () {
        var object = this;
        return this.$table.on("click", "button.button-save", function (e) {
            e.preventDefault(), object.rowSave($(this).closest("tr"))
        }).on("click", "button.button-discard", function (e) {
            e.preventDefault(), object.rowCancel($(this).closest("tr"))
        }).on("click", "button.button-edit", function (e) {
            e.preventDefault(), object.rowEdit($(this).closest("tr"))
        }).on("click", "button.button-remove", function (e) {
            e.preventDefault();
            var $row = $(this).closest("tr");
            swal({
                title: "Xác nhận xóa?",
                text: "Xóa xong là không khôi phục được nữa đâu đấy",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                cancelButtonText: 'Thôi không xóa nữa vậy',
                confirmButtonText: "Xóa thôi, hỏi gì nữa!",
                closeOnConfirm: false
            }, function () {
                object.rowRemove($row)
                swal("Xóa rồi đấy nhé!", null, "success");
            });
        }), this.$addButton.on("click", function (e) {
            e.preventDefault(), object.rowAdd()
        }), this.dialog.$cancel.on("click", function (e) {
            e.preventDefault(), $.magnificPopup.close()
        }), this
    },
    rowAdd: function () {
        this.$addButton.attr({
            disabled: "disabled"
        });
        var data, $row;
        data = this.datatable.rows.add([{
            "tranId": "",
            "tranName": "",
            "tranDesc": "",
            "tranPrice": ""
        }]).draw();
        console.log(this.datatable.row(data[0]).nodes());
        ($row = this.datatable.row(data[0]).nodes().to$()).addClass("adding").find("td:last").addClass("actions");
        this.rowEdit($row);
        this.handleTooltip($row);
        this.datatable.order([0, "asc"]).draw()
    },
    rowCancel: function ($row) {
        var $actions, data;
        $row.hasClass("adding") ? this.rowRemove($row) : (($actions = $row.find("td div.actions")).find(".button-discard").tooltip("hide"), $actions.get(0) && this.rowSetActionsDefault($row),
            data = this.datatable.row($row.get(0)).data(),
            this.datatable.row($row.get(0)).data(data),
            this.handleTooltip($row),
            this.datatable.draw())
    },
    rowEdit: function ($row) {
        var data, object = this;
        this.handleTooltip($row);
        data = this.datatable.row($row.get(0)).data();
        $row.children("td").each(function (i) {
            var $this = $(this);
            if ($this.children().hasClass("actions")) {
                object.rowSetActionsEditing($row);
            } else {
                var disabled = $this.hasClass("disabled") ? "disabled" : "";
                $this.html('<input type="text" required class="form-control input-block" value="' + Object.values(data)[i] + '" ' + disabled + ' />');
            }
        })
    },
    rowSave: function ($row) {
        var object = this, values = [];
        $row.hasClass("adding");
        this.$addButton.removeAttr("disabled");
        $row.removeClass("adding");
        values = $row.find("td").map(function () {
            var $this = $(this);
            return $this.children().hasClass("actions") ? (object.rowSetActionsDefault($row), object.datatable.cell(this).data()) : $.trim($this.find("input").val())
        });
        $row.find("td div.actions").find(".button-save").tooltip("hide");
        $.ajax({
            url: "/Transaction/Update/",
            type: "POST",
            data: {
                TransactionId: values[0],
                blockHash: values[1],
                status: values[2]
            }
        }).done(function (data) {
            $('#Transaction').DataTable().ajax.reload();
        }).fail(function (jqXHR) {
            swal("Có lỗi", jqXHR.status, "error");
        });
    },
    rowRemove: function ($row) {
        var TransactionId = this.datatable.row($row.get(0)).data().TransactionId;
        if (TransactionId != "") {
            $.ajax({
                url: "/Transaction/Delete/" + TransactionId,
                type: "DELETE",
            }).done(function (data) {
                $('#Transaction').DataTable().ajax.reload();
            }).fail(function (jqXHR) {
                swal("Có lỗi", jqXHR.status, "error");
            });
        } else {
            $('tr.adding').remove();
            $('#addToTable').removeAttr("disabled");
        }
    },
    rowSetActionsEditing: function ($row) {
        $row.find(".on-editing").removeAttr("hidden"), $row.find(".on-default").attr("hidden", !0)
    },
    rowSetActionsDefault: function ($row) {
        $row.find(".on-editing").attr("hidden", !0), $row.find(".on-default").removeAttr("hidden")
    },
    handleTooltip: function ($row) {
        $row.find('[data-toggle="tooltip"]').tooltip()
    }
};
$(function () {
    addRowTable.initialize();
    $('#addRow').click(function () {
        let select_game = "Không lấy được danh sách quyền";
        $.ajax({
            url: "/Transaction/Get",
            method: "GET",
            success: function (data) {
                let list_cate = data.data;
                let cate_html = "";
                for (var i = 0; i < list_cate.length; i++) {
                    cate_html += '<option value="' + list_cate[i].cateId + '">' + list_cate[i].cateDesc + '</option>';
                }
                select_cate = '<select required class="form-control" tabindex="5" id="cateId">' + cate_html + '</select>';
                var html = '<tr class="adding">';
                html += '<td><a class="btnCancelAddNew btn btn-sm btn-icon btn-pure btn-danger on-default" data-toggle="tooltip" data-original-title="Hủy"><i class="icon-close" aria-hidden="true"></i></a></td>';
                html += '<td><input required class="form-control" type="text" id="TransactionName" name="TransactionName" tabindex="1" /></td>';
                html += '<td><input required class="form-control" type="text" id="TransactionDesc" name="TransactionDesc" tabindex="2" /></td>';
                html += '<td><input required class="form-control" type="text" id="TransactionPrice" name="TransactionPrice" tabindex="3" /></td>';
                html += '<td><button type="button" name="insert" id="insert" class="btn btn-success btn-xs" tabindex="4"><i class="icon-plus" aria-hidden="true"></i> Thêm mới</button></td>';
                html += '</tr>';
                $('.dataTable tbody').prepend(html);
            },
            error: function (xhr) {
                alert("Không lấy được API Get all User");
                console.log(xhr.responseText);
            }
        });
    });
})
</script>