﻿@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("userName");
    if (userName == null)
    {
        Context.Response.Redirect("/User/Login");
    }
    else
    {
        ViewData["Title"] = "Hình nền Trang chủ";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<style>
    #dtConfig img {
        width: 100%;
        height: 300px;
        cursor: pointer;
    }
</style>
<!-- #region ======================================================== KHUNG HIỆN THỊ ========================================================-->
<div class="block-header">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-lg-7 col-md-4 col-sm-12 text-right">
            <ul class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item">@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <ul class="header-dropdown">
                    <li><a href="javascript:reload()" title="Tải lại dữ liệu" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                    <li><a href="javascript:void(0);" class="full-screen" title="Xem full màn hình"><i class="icon-size-fullscreen"></i></a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                            <li><a href="javascript:void(0);">Hành động</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body" id="dtConfig">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="category">
                        <thead><tr><th>Mục</th><th>Giá trị</th><th>Actions</th></tr></thead>
                        <tbody>
                            <tr>
                                <td>Hình nền session home</td>
                                <td title="Click để chọn ảnh khác">
                                    <img id="bgsshome" src="https://amostars.io/images/bgss1.png">
                                </td>
                                <td>
                                    <button data-model="bgsshome" class="btn btn-danger m-b-15 btnUpdate" type="button"><i class="fa fa-upload" aria-hidden="true"></i> Cập nhật</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Hình nền session game story</td>
                                <td title="Click để chọn ảnh khác">
                                    <img id="bgstory" src="https://amostars.io/images/bgss2.png">
                                </td>
                                <td>
                                    <button data-model="bgstory" class="btn btn-danger m-b-15 btnUpdate" type="button"><i class="fa fa-upload" aria-hidden="true"></i> Cập nhật</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Hình nền session player mission</td>
                                <td title="Click để chọn ảnh khác">
                                    <img id="bgmission" src="https://amostars.io/images/bgmisson.png">
                                </td>
                                <td>
                                    <button data-model="bgmission" class="btn btn-danger m-b-15 btnUpdate" type="button"><i class="fa fa-upload" aria-hidden="true"></i> Cập nhật</button>
                                </td>
                            </tr>
                            @*<tr>
                                    <td>Hình nền session build your ship</td>
                                    <td title="Click để chọn ảnh khác">
                                        <img id="bgship" src="https://amostars.io/images/bgship.png">
                                    </td>
                                    <td>
                                        <button data-model="bgship" class="btn btn-danger m-b-15 btnUpdate" type="button"><i class="fa fa-upload" aria-hidden="true"></i> Cập nhật</button>
                                    </td>
                                </tr>*@
                            <tr>
                                <td>Hình nền session roadmap</td>
                                <td title="Click để chọn ảnh khác">
                                    <img id="bgroadmap" src="https://amostars.io/images/bgrm.png">
                                </td>
                                <td>
                                    <button data-model="bgroadmap" class="btn btn-danger m-b-15 btnUpdate" type="button"><i class="fa fa-upload" aria-hidden="true"></i> Cập nhật</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3">
                                    <input id="file" style="display:none" type="file" name="txtImg" value="" accept=".png" />
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion-->
<!-- #region ==================================================== BINDDING DATA VIA AJAX ====================================================-->
<script>
    $(function () {
        $('table img').click(function () {
            $('input[name=txtImg]').click();
            let id = $(this).attr('id')
            let oldsrc = $(this).attr('src').replace('https://amostars.io/images/', '');

        });
        $(".btnUpdate").click(function () {
            let data_model = $(this).data("model");
            let fileExtension = ['png'];
            let filename = $('#file').val();
            if (filename.length == 0) {
                hcShowToast("Cảnh báo", "Chưa chọn file", "warning", "dark", 4000);
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    hcShowToast("Cảnh báo", "Chỉ nhận file .png", "warning", "dark", 4000);
                    return false;
                }
            }
            let fd = new FormData();
            let fileUpload = $("#file").get(0);
            let files = fileUpload.files;
            fd.append(files[0].name, files[0]);
            $.ajax({
                url: "/ConfigGame/upload_img/" + data_model,
                method: "POST",
                data: fd,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.result.code == "success") {
                        hcShowToast("Thông báo", "Cập nhật thành công", "success", "dark", 4000);
                        $("input[type=file]").val("");
                    } else {
                        hcShowToast("Lỗi", data.result.message, "error", "dark", 10000);
                    }
                },
                error: function (xhr) {
                    hcShowToast("Cảnh báo", "Cập nhật thất bại", "warning", "dark", 4000);
                    console.log(xhr.responseText);
                },
            });
        });
        //#region  ========================= TẢI FILE MẪU VÀ IMPORT EXCEL =========================

        //#endregion
    })
</script>
<!-- #endregion-->