﻿@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("userName");
    var roleName = Context.Session.GetString("roleName");
    if (userName == null)
    {
        Context.Response.Redirect("/User/Login");
    }
    else
    {
        ViewData["Title"] = "Bảng điều khiển";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="block-header">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12">
            <h2>Dashboard</h2>
        </div>
        <div class="col-lg-7 col-md-4 col-sm-12 text-right">
            <ul class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="/Home/Index"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="card">
            <div class="header">
                <h2><strong>THỐNG KÊ</strong></h2>
                <ul class="header-dropdown">
                    <li> <a href="javascript:void(0);" id="countall" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                    <li><a href="javascript:void(0);" class="full-screen"><i class="icon-size-fullscreen"></i></a></li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover m-b-5">
                        <tbody>
                            <tr><td><i class="fa fa-graduation-cap fa-2x"></i></td><td><p class="margin-0"><a href="/Category/Index">Danh mục game</a></p></td><td><h6 class="m-b-0"><span id="category">0</span></h6></td></tr>
                            <tr><td><i class="fa fa-gamepad fa-2x"></i></td><td><p class="margin-0"><a href="/Game/Index">Game</a></p></td><td><h6 class="m-b-0"><span id="game">0</span></h6></td></tr>
                            <tr><td><i class="fa fa-sort-numeric-asc  fa-2x"></i></td><td><p class="margin-0"><a href="/Game/Index">Điểm</a></p></td><td><h6 class="m-b-0"><span id="score">0</span></h6></td></tr>
                            <tr><td><i class="fa fa-user fa-2x"></i></td><td><p class="margin-0"><a href="/User/Index">Người dùng</a></p></td><td><h6 class="m-b-0"><span id="user">0</span></h6></td></tr>
                            <tr><td><i class="fa fa-shield fa-2x"></i></td><td><p class="margin-0"><a href="/Role/Index">Quyền</a></p></td><td><h6 class="m-b-0"><span id="role">0</span></h6></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        function countall() {
            $.ajax({
                url: "/Home/CountAll",
                method: "GET",
                success: function (data) {
                    if (data.data.code == "success") {
                        $("span#user").html(data.data.user);
                        $("span#category").html(data.data.category);
                        $("span#role").html(data.data.role);
                        $("span#game").html(data.data.game);
                        $("span#score").html(data.data.score);
                    } else {
                        setTimeout(function () { $("#countall").trigger("click"); }, 3000);
                    }
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                    hcShowToast("Lỗi", "Lỗi API đếm dữ liệu, F12 xem log", "success", "dark", 4000);
                },
            });
        }
        $("#countall").click(function () {
            countall();
        });
        countall();
    });
</script>
@*<script src="~/assets/bundles/chartist.bundle.js"></script>
    <script src="~/assets/bundles/morrisscripts.bundle.js"></script>
    <script src="~/assets/js/index.js"></script>*@