﻿@using Microsoft.AspNetCore.Http

@{
    var lstItem = new Item().GetAllItem();
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
}

<div id="wrapper">
    <header class="transparent">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex sm-pt10">
                        <div class="de-flex-col">
                            <div class="de-flex-col">
                                <!-- logo begin -->
                                <div id="logo">
                                    <a href="/home">
                                        <img alt="" class="logo" src="~/landing/images/icon.png" />
                                    </a>
                                </div>
                                <!-- logo close -->
                            </div>
                            <div class="de-flex-col">
                                <input id="quick_search" class="xs-hide" name="quick_search" placeholder="search item here..." type="text" />
                            </div>
                        </div>
                        <div class="de-flex-col header-col-mid">
                            <!-- mainmenu begin -->
                            <ul id="mainmenu">
                                <li>
                                    <a href="javascript:void(0);">Home<span></span></a>
                                </li>
                               @* <li>
                                    <a href="javascript:void(0);">Explore<span></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Pages<span></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Activity<span></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Elements<span></span></a>
                                </li>*@
                            </ul>
                            <div class="menu_side_area">
                                <a href="javascript:void(0);" class="btn-main" onclick="connect_wallet();"><i class="icon_wallet_alt"></i><span>Connect Wallet</span></a>
                                <span id="menu-btn"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="no-bottom no-top" id="content">
        <div id="top"></div>
        <!-- section begin -->
        <section id="section-hero" aria-label="section" class="text-light overflow-hidden" data-bgimage="url(/landing/images/background/2.jpg) top">
            <div id="particles-js"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="text_top">
                            <div class="spacer-double"></div>
                            <h1>Create and sell your own unique NFTs.</h1>
                            <p class="lead">Easiest place to buy and sell cryptocurrency.<br>Sign up and get started today.</p>
                            <div class="spacer-20"></div>
                            <div class="spacer-double"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section close -->
        <section id="section-nfts">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h2>Popular Items</h2>
                            <div class="small-border bg-color-2"></div>
                        </div>
                    </div>
                </div>
                <div class="row wow fadeIn">
                    @{
                        for (int x = 0; x < lstItem.Count; x++)
                        {
                            <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="nft__item">
                                    <div class="author_list_pp">
                                        <a href="~/home/detail/@lstItem[x].itemId">
                                            <img class="lazy" src="~/landing/images/author/author-10.jpg" alt="">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </div>
                                    <div class="nft__item_wrap">
                                        <a href="~/home/detail/@lstItem[x].itemId">
                                            <img src="@lstItem[x].itemImage" class="lazy nft__item_preview" alt="">
                                        </a>
                                    </div>
                                    <div class="nft__item_info">
                                        <a href="~/home/detail/@lstItem[x].itemId">
                                            <h4>@lstItem[x].itemName</h4>
                                        </a>
                                        <div class="nft__item_detail">
                                            @if (!string.IsNullOrEmpty(@lstItem[x].itemDesc))
                                            {
                                                @if (@lstItem[x].itemDesc.Length <= 20)
                                                {
                                                    <span>@lstItem[x].itemDesc</span>
                                                }
                                                else
                                                {
                                                    <span>@lstItem[x].itemDesc.Substring(0,18)...</span>
                                                }
                                            }

                                        </div>
                                        <div class="nft__item_price">
                                            @lstItem[x].itemPrice ETH<span>1/22</span>
                                        </div>
                                        <div class="nft__item_action">
                                            <a href="~/home/detail/@lstItem[x].itemId">BUY</a>
                                        </div>
                                        <div class="nft__item_like">
                                            <i class="fa fa-heart"></i><span>80</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @* <div class="col-md-12 text-center">
                        <a href="#" id="loadmore" class="btn-main wow fadeInUp lead">Load more</a>
                        </div>*@
                </div>
            </div>
        </section>
    </div>

</div>
<script src="~/landing/js/jquery.min.js"></script>
<script src="~/landing/js/bootstrap.min.js"></script>
<script src="~/landing/js/bootstrap.bundle.min.js"></script>
<script src="~/landing/js/wow.min.js"></script>
<script src="~/landing/js/jquery.isotope.min.js"></script>
<script src="~/landing/js/easing.js"></script>
<script src="~/landing/js/owl.carousel.js"></script>
<script src="~/landing/js/validation.js"></script>
<script src="~/landing/js/jquery.magnific-popup.min.js"></script>
<script src="~/landing/js/enquire.min.js"></script>
<script src="~/landing/js/jquery.plugin.js"></script>
<script src="~/landing/js/jquery.countTo.js"></script>
<script src="~/landing/js/jquery.countdown.js"></script>
<script src="~/landing/js/jquery.lazy.min.js"></script>
<script src="~/landing/js/jquery.lazy.plugins.min.js"></script>
<script src="~/landing/js/designesia.js"></script>
<script src="~/landing/js/particles.js"></script>
<script src="~/landing/js/particles-settings-2.js"></script>
<script>
    function connect_wallet() {
        if (checkMM()) {
            const web3 = new Web3(window.ethereum);
            window.ethereum.enable();
            // tao smart contract cho metamask
            var contract_MM = new web3.eth.Contract(abi, addressSM);
            console.log("contract_metamask: ", contract_MM);
            var currentAccount = "";

            connectMM().then((data) => {
                currentAccount = data[0];
                console.log("current account: " + currentAccount);
                hcShowToast("Notice", "Connect MetaMask success", "success", "dark", 5000);
            }).catch((err) => {
                console.log("connectMM error: " + err);
            });
        }
        else {
            var link = '<a href="https://metamask.io/" class="link-success" target="_blank">Click link</a>';
            hcShowToast("Notice", "Metamask chưa được cài đặt.<br/>Metamask: " + link, "error", "dark", 15000);
        }
    }
    async function connectMM() {
        const accounts = await ethereum.request({
            method: 'eth_requestAccounts'
        });
        return accounts;
    }
    function checkMM() {
        if (typeof window.ethereum != "undefined") {
            console.log("MM is Installed");
            return true;
        } else {
            console.log("MM not installed yet");
            return false;
        }
    }
</script>