﻿@using Microsoft.AspNetCore.Http

@{
    var lstItem = new Item().GetAllItem();
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
}

<div id="wrapper">
    <header class="transparent">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex sm-pt10">
                        <div class="de-flex-col">
                            <div class="de-flex-col">
                                <!-- logo begin -->
                                <div id="logo">
                                    <a href="/home">
                                        <img alt="" class="logo" src="~/landing/images/icon.png" />
                                    </a>
                                </div>
                                <!-- logo close -->
                            </div>
                            <div class="de-flex-col">
                                <input id="quick_search" class="xs-hide" name="quick_search" placeholder="search item here..." type="text" />
                            </div>
                        </div>
                        <div class="de-flex-col header-col-mid">
                            <!-- mainmenu begin -->
                            <ul id="mainmenu">
                                <li>
                                    <a href="javascript:void(0);">Home<span></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Explore<span></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Pages<span></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Activity<span></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Elements<span></span></a>
                                </li>
                            </ul>
                            <div class="menu_side_area">
                                <a href="javascript:void(0);" class="btn-main"><i class="icon_wallet_alt"></i><span>Connect Wallet</span></a>
                                <span id="menu-btn"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="no-bottom no-top" id="content">
        <div id="top"></div>
        <!-- section begin -->
        <section id="section-hero" aria-label="section" class="text-light overflow-hidden" data-bgimage="url(landing/images/background/2.jpg) top">
            <div id="particles-js"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="text_top">
                            <div class="spacer-double"></div>
                            <h1>Create and sell your own unique NFTs.</h1>
                            <p class="lead">Easiest place to buy and sell cryptocurrency.<br>Sign up and get started today.</p>
                            <div class="spacer-20"></div>
                            @*<a href="explore.html" class="btn-main">Explore</a>&nbsp;&nbsp;
                                <a href="login.html" class="btn-main btn-white">Create</a>*@
                            <div class="spacer-double"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section close -->
        <section aria-label="section">
            <div class="container">
                <div class="row wow fadeIn">
                    <aside class="col-md-3">
                        <div class="item_filter_group">
                            <h4>Select Categories</h4>
                            <div class="de_form">
                                <div class="de_checkbox">
                                    <input id="check_cat_1" name="check_cat_1" type="checkbox" value="check_cat_1">
                                    <label for="check_cat_1">Art</label>
                                </div>

                                <div class="de_checkbox">
                                    <input id="check_cat_2" name="check_cat_2" type="checkbox" value="check_cat_2">
                                    <label for="check_cat_2">Music</label>
                                </div>

                                <div class="de_checkbox">
                                    <input id="check_cat_3" name="check_cat_3" type="checkbox" value="check_cat_3">
                                    <label for="check_cat_3">Domain Names</label>
                                </div>

                                <div class="de_checkbox">
                                    <input id="check_cat_4" name="check_cat_4" type="checkbox" value="check_cat_4">
                                    <label for="check_cat_4">Virtual World</label>
                                </div>

                                <div class="de_checkbox">
                                    <input id="check_cat_5" name="check_cat_5" type="checkbox" value="check_cat_5">
                                    <label for="check_cat_5">Trading Cards</label>
                                </div>

                                <div class="de_checkbox">
                                    <input id="check_cat_6" name="check_cat_6" type="checkbox" value="check_cat_6">
                                    <label for="check_cat_6">Collectibles</label>
                                </div>

                                <div class="de_checkbox">
                                    <input id="check_cat_7" name="check_cat_7" type="checkbox" value="check_cat_7">
                                    <label for="check_cat_7">Sports</label>
                                </div>

                                <div class="de_checkbox">
                                    <input id="check_cat_8" name="check_cat_8" type="checkbox" value="check_cat_8">
                                    <label for="check_cat_8">Utility</label>
                                </div>

                            </div>
                        </div>

                        <div class="item_filter_group">
                            <h4>Status</h4>
                            <div class="de_form">
                                <div class="de_checkbox">
                                    <input id="check_stat_1" name="check_stat_1" type="checkbox" value="check_stat_1">
                                    <label for="check_stat_1">Buy Now</label>
                                </div>

                                <div class="de_checkbox">
                                    <input id="check_stat_2" name="check_stat_2" type="checkbox" value="check_stat_2">
                                    <label for="check_stat_2">On Auction</label>
                                </div>

                                <div class="de_checkbox">
                                    <input id="check_stat_3" name="check_stat_3" type="checkbox" value="check_stat_3">
                                    <label for="check_stat_3">has Offers</label>
                                </div>
                            </div>
                        </div>

                        <div class="item_filter_group">
                            <h4>Items Type</h4>
                            <div class="de_form">
                                <div class="de_checkbox">
                                    <input id="check_item_type_1" name="check_item_type_1" type="checkbox" value="check_item_type_1">
                                    <label for="check_item_type_1">Single Items</label>
                                </div>

                                <div class="de_checkbox">
                                    <input id="check_item_type_2" name="check_item_type_2" type="checkbox" value="check_item_type_2">
                                    <label for="check_item_type_2">Bundles</label>
                                </div>
                            </div>
                        </div>

                        <div class="item_filter_group">
                            <h4>Collections</h4>
                            <div class="de_form">
                                <div class="de_checkbox">
                                    <input id="check_coll_1" name="check_coll_1" type="checkbox" value="check_coll_1">
                                    <label for="check_coll_1">Abstraction</label>
                                </div>

                                <div class="de_checkbox">
                                    <input id="check_coll_2" name="check_coll_2" type="checkbox" value="check_coll_2">
                                    <label for="check_coll_2">Patternlicious</label>
                                </div>

                                <div class="de_checkbox">
                                    <input id="check_coll_3" name="check_coll_3" type="checkbox" value="check_coll_3">
                                    <label for="check_coll_3">Skecthify</label>
                                </div>

                                <div class="de_checkbox">
                                    <input id="check_coll_4" name="check_coll_4" type="checkbox" value="check_coll_4">
                                    <label for="check_coll_4">Cartoonism</label>
                                </div>

                                <div class="de_checkbox">
                                    <input id="check_coll_5" name="check_coll_5" type="checkbox" value="check_coll_5">
                                    <label for="check_coll_5">Virtuland</label>
                                </div>

                                <div class="de_checkbox">
                                    <input id="check_coll_6" name="check_coll_6" type="checkbox" value="check_coll_6">
                                    <label for="check_coll_6">Papercut</label>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="items_filter">
                                    <form class="row form-dark" id="form_quick_search" name="form_quick_search">
                                        <div class="col text-center">
                                            <input class="form-control" id="name_1" name="name_1" placeholder="search item here..." type="text" /> <a href="javascript:void(0);" id="btn-submit"><i class="fa fa-search bg-color-secondary"></i></a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </form>
                                    <div id="item_category" class="dropdown">
                                        <a href="javascript:void(0);" class="btn-selector">All categories</a>
                                        <ul>
                                            <li class="active"><span>All categories</span></li>
                                            <li><span>Art</span></li>
                                            <li><span>Music</span></li>
                                            <li><span>Domain Names</span></li>
                                            <li><span>Virtual World</span></li>
                                            <li><span>Trading Cards</span></li>
                                            <li><span>Collectibles</span></li>
                                            <li><span>Sports</span></li>
                                            <li><span>Utility</span></li>
                                        </ul>
                                    </div>

                                    <div id="buy_category" class="dropdown">
                                        <a href="javascript:void(0);" class="btn-selector">Buy Now</a>
                                        <ul>
                                            <li class="active"><span>Buy Now</span></li>
                                            <li><span>On Auction</span></li>
                                            <li><span>Has Offers</span></li>
                                        </ul>
                                    </div>

                                    <div id="items_type" class="dropdown">
                                        <a href="javascript:void(0);" class="btn-selector">All Items</a>
                                        <ul>
                                            <li class="active"><span>All Items</span></li>
                                            <li><span>Single Items</span></li>
                                            <li><span>Bundles</span></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @{
                                for (int jx = 0; jx <= lstItem.Count - 1; jx++)
                                {
                                    <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                        <div class="nft__item">
                                            @*<div class="author_list_pp">
                                                    <a href="javascript:void(0);">
                                                        <img class="lazy" src="~/landing/images/author/author-7.jpg" alt="">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                </div>*@
                                            <div class="nft__item_wrap">
                                                <a href="~/home/detail/@lstItem[jx].itemId">
                                                    <img src="@lstItem[jx].itemImage" class="lazy nft__item_preview" alt="">
                                                </a>
                                            </div>
                                            <div class="nft__item_info">
                                                <a href="~/home/detail/@lstItem[jx].itemId">
                                                    <h4>@lstItem[jx].itemName</h4>
                                                </a>
                                                <div class="nft__item_price">
                                                    @lstItem[jx].itemPrice ETH<span>1/15</span>
                                                </div>
                                                <div class="nft__item_action">
                                                    <a href="~/home/detail/@lstItem[jx].itemId">Place a bid</a>
                                                </div>
                                                <div class="nft__item_like">
                                                    <i class="fa fa-heart"></i><span>73</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }


                            @*<div class="col-md-12 text-center">
                                    <a href="javascript:void(0)" id="loadmore" class="btn-main wow fadeInUp lead">Load more</a>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>
<script src="~/landing/js/jquery.min.js"></script>
<script src="~/landing/js/bootstrap.min.js"></script>
<script src="~/landing/js/bootstrap.bundle.min.js"></script>
<script src="~/landing/js/wow.min.js"></script>
<script src="~/landing/js/jquery.isotope.min.js"></script>
<script src="~/landing/js/easing.js"></script>
<script src="~/landing/js/owl.carousel.js"></script>
<script src="~/landing/js/validation.js"></script>
<script src="~/landing/js/jquery.magnific-popup.min.js"></script>
<script src="~/landing/js/enquire.min.js"></script>
<script src="~/landing/js/jquery.plugin.js"></script>
<script src="~/landing/js/jquery.countTo.js"></script>
<script src="~/landing/js/jquery.countdown.js"></script>
<script src="~/landing/js/jquery.lazy.min.js"></script>
<script src="~/landing/js/jquery.lazy.plugins.min.js"></script>
<script src="~/landing/js/designesia.js"></script>
<script src="~/landing/js/particles.js"></script>
<script src="~/landing/js/particles-settings-2.js"></script>