﻿.theme-purple div#leftsidebar {
    background: #34264d;
}
a.colId, span.colId {
    position: absolute;
    top: 5px;
    left: 20%;
    top: 25%;
    margin-left: 5px;
}

.hide {
    display: none !important;
}

td.select-checkbox:before, td.select-checkbox:after {
    left: 10% !important;
    top: 50% !important;
    color: green;
}

td.select-checkbox {
    cursor: pointer;
}

.table td {
    padding: 5px !important;
}

table.dataTable {
    width: 100% !important;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.65em;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}

[contenteditable], tr.adding td {
    background: var(--warning);
    color: #fff;
}

body.theme-purple .btn-primary, body.theme-purple .btn-default, body.theme-purple .btn-warning, body.theme-purple .btn-danger {
    border: 1px solid purple;
}

body.theme-purple .btn-primary {
    background: #a27ce6;
}

.dt-buttons a.btn span:before {
    font-family: "FontAwesome";
    padding-right: 10px;
}

.dt-buttons a.btn.buttons-copy span:before {
    content: "\f0c5";
}

.dt-buttons a.btn.buttons-excel span:before {
    content: "\f1c3";
}

.dt-buttons a.btn.buttons-print span:before {
    content: "\f02f";
}

.dt-buttons a.btn.buttons-select-all span:before {
    content: "\f046";
}

.dt-buttons a.btn.buttons-select-none span:before {
    content: "\f096";
}

.dt-buttons a.btn.buttons-selected span:before {
    content: "\f1f8";
}

.btn.btn-round {
    padding: 5px 10px;
}

/*#user_wrapper td:nth-child(3):before {
    content: "ΦΦΦ   ΦΦΦ   ΦΦΦ   ΦΦΦ   ΦΦΦ";
    font-weight: bold;
    position: absolute;
    padding: 0px;
}*/
[class*="rdo_"] {
    border: none;
    background-image: url(/assets/images/fb-reactions.png);
    background-color: transparent;
    display: block;
    cursor: pointer;
    height: 48px;
    width: 48px;
    z-index: 11;
    top: -28px;
    transform-origin: 50% 100%;
    transition: all 0.3s;
    outline: none;
    will-change: transform;
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
}

    [class*="rdo_"]:hover {
        -webkit-transform: rotate(15deg) scale(1.4);
        transform: rotate(15deg) scale(1.4);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

.rdo_like {
    left: 0;
    background-position: 0 -144px;
}

.rdo_love {
    background-position: -48px 0;
    left: 50px;
}

.rdo_haha {
    background-position: -96px 0;
    left: 100px;
}

.rdo_wow {
    background-position: -144px 0;
    left: 150px;
}

.rdo_sad {
    background-position: -192px 0;
    left: 200px;
}

.rdo_angry {
    background-position: -240px 0;
    left: 250px;
}

div#div_timeline .input-group-prepend, div#div_timeline .input-group-append {
    display: block !important;
}

div.viewUserAgent {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-file {
    padding-top: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: calc(2.25rem - 1px);
}

*:disabled {
    cursor: not-allowed;
}

textarea#logDesc {
    background: #000;
}

td.details-control {
    background: url('/assets/images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('/assets/images/details_close.png') no-repeat center center;
}

@media only screen and (max-device-width : 640px) {
    .growl-notification--image {
        width: 90% !important;
    }
}

/* An ugly trick to use a filter icon */
.ui-icon-volume-off.ui-icon-filter {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid;
    background: #343a40;
}

#help .list-group-item {
    background: none !important;
    border: none !important;
}

.btn-group input[type=file].custom-file {
    border-radius: 0;
}

#help .separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #fff;
}

.separator::before {
    margin-right: .50em;
}

.separator::after {
    margin-left: .50em;
}

#timeline td div.actions {
    width: 115px;
}

li.disabled label.checkbox {
    cursor: not-allowed;
}

.multiselect-custom + .btn-group ul.multiselect-container > li > a label.checkbox {
    cursor: pointer;
    width: 100%;
}

.multiselect-custom + .btn-group ul.multiselect-container > li.disabled > a label.checkbox {
    cursor: not-allowed;
    text-decoration: line-through;
    width: 100%;
    color: red;
}

div.div_genPlatform div.btn-group, div.div_genPlatform div.btn-group button, div.div_genPlatform div.btn-group ul,
div.div_genTimeFrame div.btn-group, div.div_genTimeFrame div.btn-group button, div.div_genTimeFrame div.btn-group ul {
    width: 100% !important;
}

div.div_genPlatform div.btn-group, div.div_genTimeFrame div.btn-group {
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.float_nav {
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 99999;
}

.neon {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 18px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 18px rgba(102,175,233,.6);
}

div#panelTool {
    background: #212529;
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: 999;
    box-shadow: 0 0px 1px 0px rgba(0,0,0,0.1);
}

    div#panelTool div.body {
        padding: 10px;
        display: flex;
        overflow: scroll;
        align-items: center;
        z-index: 999;
        justify-content: center;
    }

        div#panelTool div.body .btn {
            white-space: nowrap;
            overflow: hidden;
            z-index: 999;
            text-overflow: ellipsis;
        }


label.menu-open-button {
    background: red;
}

.nav_second .menu-item {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 0px;
    color: #fff;
    text-align: center;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 18px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 18px rgba(102,175,233,.6);
}

.menu-item.btn-group {
    background: rgb(0, 188, 212);
}

#quickStatus {
    width: 100px;
}

#showLenght {
    width: 65px;
    border-radius: 5px;
}

.tooltip-inner {
    z-index: 99999;
}

.menu-item {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 30px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
}

.menu-open-button {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 30px;
    text-align: center;
    border-radius: 5px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
}

.menu {
    position: fixed;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
    z-index: 9999;
    bottom: 70px;
    right: 35px;
}

nav.menu .btn-group {
    width: initial;
    border-radius: 20px;
}

nav.menu:hover .btn-group {
    background: #00bcd4;
}

.menu-open {
    display: none;
}


.hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
}

.hamburger-1 {
    transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
    transform: translate3d(0, 0, 0);
}

.hamburger-3 {
    transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

    .menu-open-button:hover {
        transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }

.menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-open:checked ~ .nav_first #showLenght {
    transition-duration: 190ms;
    transform: translate3d(-80px, 0, 0);
}

.menu-open:checked ~ .nav_first .btn-group {
    transition-duration: 290ms;
    transform: translate3d(-245px, 0, 0);
}

.menu-open:not(:checked) ~ .nav_first #showLenght {
    transition-duration: 300ms;
    transform: translate3d(2250px, 0, 0);
}

.menu-open:not(:checked) ~ .nav_first .btn-group {
    transition-duration: 330ms;
    transform: translate3d(2250px, 0, 0);
}

.menu-open:not(:checked) ~ .nav_second .btn:nth-child(1) {
    transition-duration: 500ms;
    transform: translate3d(0px, 100px, 0px);
    padding: 5px;
}

.menu-open:not(:checked) ~ .nav_second .btn:nth-child(2) {
    transition-duration: 1000ms;
    transform: translate3d(0px, 200px, 0px);
    padding: 5px;
}

.menu-open:not(:checked) ~ .nav_second .btn:nth-child(3) {
    transition-duration: 1500ms;
    transform: translate3d(0px, 300px, 0px);
    padding: 5px;
}

.menu-open:checked ~ .nav_second .btn:nth-child(1) {
    transition-duration: 290ms;
    transform: translate3d(0px, -70px, 0px);
    padding: 5px;
}

.menu-open:checked ~ .nav_second .btn:nth-child(2) {
    transition-duration: 300ms;
    transform: translate3d(0px, -70px, 0px);
    padding: 5px;
}

.menu-open:checked ~ .nav_second .btn:nth-child(3) {
    transition-duration: 250ms;
    transform: translate3d(0px, -70px, 0px);
    padding: 5px;
}

#btnUpdateStatus {
    height: 100%;
    width: 31px;
    overflow: hidden;
}

.float_nav .btn {
    width: 35px;
    height: 35px;
}

.dt-buttons a {
    position: fixed !important;
    width: 35px !important;
    height: 30px !important;
    overflow: hidden;
    top: 230px;
    right: 0;
    border-radius:0;
}

    .dt-buttons a span {
        width: 35px;
    }

.dt-buttons {
    position: absolute;
    width: 35px;
    right: -21px;
    overflow: hidden;
}

    .dt-buttons a.btn:nth-child(1) {
        top: 270px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .dt-buttons a.btn:nth-child(2) {
        top: 300px;
    }

    .dt-buttons a.btn:nth-child(3) {
        top: 330px;
    }

    .dt-buttons a.btn:nth-child(4) {
        top: 360px;
    }

    .dt-buttons a.btn:nth-child(5) {
        top: 390px;
    }

    .dt-buttons a.btn:nth-child(6) {
        top: 420px;
    }

    .dt-buttons a.btn:nth-child(7) {
        top: 450px;
    }

    .dt-buttons a.btn:nth-child(8) {
        top: 480px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

.top > div, .bottom > div {
    float: left;
}